.container {
    display: inline-block;
    width: 100%;
}


.container .row {
    display: inline-block;
    width: 1200px;
    margin: 0 calc(50% - 600px);
    padding: 80px 0;
    /* width: 1100px;
    margin: 0 calc(50% - 550px); */
}

.dropdown {
    display: none;
}
@media (max-width: 1200px) {
    .container .row {
        width: 1000px;
        margin: 0 calc(50% - 400px);
    }

}

@media (max-width: 1100px) {
    .container .row {
        width: 800px;
        margin: 0 calc(50% - 400px);
    }
    header .navbar .row {
        display: none;
    }

   .container .row .martin_photo {
        display: block;
        width: calc(100% - 40px);
        margin-right: 20px;
        margin-left: 20px;
    }

  .container .row  .about_right {
        display: block;
        width: calc(100% - 40px);
        margin-right: 20px;
        margin-left: 20px;
    }


    .container .row .block {
        display: block;
        width: calc(100% - 40px);
        margin-right: 20px;
        margin-left: 20px;
    }

    .container .row .block i.fa {
        display: block;
        width: calc(100% - 40px);
        margin-right: 20px;
        margin-left: 20px;
    }


    .container .row .My-blogs {
        text-align: center;
        width: calc(100% - 40px);
        margin-left: 20px;
        margin-right: 20px;
    }

    .container .row .My-blogs .blogs_block {
        margin-top: 20px;
        display: block;
        width: calc(100% - 40px);
        margin-left: 20px;
        margin-right: 20px;
    }

    .container .row .resume .column {
        display: block;
        width: 100%;
        width: calc(100% - 40px);
        margin-bottom: 20px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .container .row .left-contact {
        margin-top: 20px;
        display: block;
        width: calc(100% - 40px);
        margin-left: 20px;
        margin-right: 20px;
    }

    .container .row .right-contact{
        margin-top: 20px;
        display: block;
        width: calc(100% - 40px);
        margin-left: 20px;
        margin-right: 20px;
    }

    .dropdown {
        display: inline-block;
        float: right;
        margin-right: 20px;
        margin-top: -48px;
        margin-bottom: -6px;
        color: #fff;
        background-color: #f34236;
        width: 40px;
        height: 40px;
        position: relative;
    }
    
    .dropdown-content {
        display: none;
        background-color: #f9f9f9;
        min-width: 100px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        margin-right: 10px;
        margin-left: -50px;
        margin-top: 10px;
      }
    
      .dropdown-content a {
        color: black;
        padding: 12px 20px;
        text-decoration: none;
        display: block;
      }
    
      .dropdown-content a:hover {
         color: #f34236
        }
          
      .dropdown:hover .dropdown-content {
        display: block;
      }
      
      .dropdown:hover .dropbtn {
        box-shadow: 0px 2px 4px #0009;
    
      }
    
    .dropdown i {
        margin-left: 7px;
        margin-right: 5px;
        margin-top: 5px;
        font-size: 30px;
    }
    
    .sticky .dropdown {
        color: #fff;
    }

    .header-fixed .navbar .row {
        display: inline-block;
        font-size: 20px;
        margin-left: 20px;
    }
    
    .header-fixed .navbar .row .nav-right {
        display: none;
    
    }

    .welcome-txt {
        margin-top: 220px;
    }


}

@media (max-width: 900px) {
    .container .row {
        width: 600px;
        margin: 0 calc(50% - 300px);
    }

    .container .row .my_services {
        width: calc(100% - 40px);
        margin-right: 20px;
        margin-right: 20px;

    }
    
    .container .row .services .my_services .block {
    
        display: block;
        width: calc(100% - 40px);
        margin-right: 20px;
        margin-left: 20px;
    }
    
    .container .row .my_services .block i.fa {
        width: calc(100% - 40px);
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
    }

    header .navbar .row {
        display: none;
    }


    .container .row .block {
        display: inline-block;
        width: 100%;
        margin-right: 30px;
    }

    .container .row .my_services {
        margin-right: 30px;
        text-align: center;
    }

    .container .row .services .my_services .block {
        display: block;
        width: calc(100% - 40px);
        margin-right: 20px;
        margin-left: 20px;
    }

    .container .row .my_services .block i.fa {
        display: block;
        width: calc(100% - 40px);
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
    }

    /* Sita vieta pakoreguoti contact form */

    .container .row .right-contact h6 {
        margin-left: -20px;
        margin-right: -20px;
    }
    
    
    .container .row .right-contact p {
        margin-left: -20px;
        margin-right: -20px;
    }

    .dropdown {
        display: inline-block;
        float: right;
        margin-right: 20px;
        margin-top: -48px;
        margin-bottom: -6px;
        color: #fff;
        background-color: #f34236;
        width: 40px;
        height: 40px;
        position: relative;
    }
    
    .dropdown-content {
        display: none;
        background-color: #f9f9f9;
        min-width: 100px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        margin-right: 10px;
        margin-left: -50px;
        margin-top: 10px;
      }
    
      .dropdown-content a {
        color: black;
        padding: 12px 20px;
        text-decoration: none;
        display: block;
      }
    
      .dropdown-content a:hover {
         color: #f34236
        }
          
      .dropdown:hover .dropdown-content {
        display: block;
      }
      
      .dropdown:hover .dropbtn {
        box-shadow: 0px 2px 4px #0009;
    
      }
    
    .dropdown i {
        margin-left: 7px;
        margin-right: 5px;
        margin-top: 5px;
        font-size: 30px;
    }
    
    .sticky .dropdown {
        color: #fff;
    }

    .header-fixed .navbar .row {
        display: inline-block;
        font-size: 20px;
        margin-left: 20px;
    }
    
    .header-fixed .navbar .row .nav-right {
        display: none;
    
    }

    .welcome-txt {
        margin-top: 220px;
    }
}
@media (max-width: 700px) {
    .container .row {
        width: 100%;
        margin: 0;
        padding-left: 20px;
        padding-right: 20px;
    }


    .container .row .block {
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
        display: block;
    }


    .resume {
        display: block;
        width: 100%;
        margin: 0;
        margin-bottom: 30px;
    }

    .container .row .my_services {
        margin-right: 30px;
    }
    
    .container .row .services .my_services .block {
    
        display: block;
        width: calc(100% - 40px);
        margin-right: 20px;
        margin-left: 20px;
    }
    
    .container .row .my_services .block i.fa {
        width: calc(100% - 40px);
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
    }

    


}

@media (max-width: 500px) {

    .container .row .block {
        display: block;
        width: 100%;
        margin-right: 30px;
    }

    .container .row .resume .column {
        display: block;
        width: 100%;
        width: calc(100% - 40px);
        margin-bottom: 20px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .container .row .martin_photo {
    display: block;
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
}

.container .row .about_right {
    display: block;
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
}

.container .row .testimonials-block img {
    display: block;
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
}

.container .row .skills {
    text-align: center;
}

.container .row .services .my_services .block {
    display: block;
    width: calc(100% - 40px);
    margin-right: 20px;
    margin-left: 20px;
}

.container .row .my_services .block i.fa {
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.about_right .Two_buttons .btn {
    margin-top: 20px;
}

.container .row .testimonials-block {
    float: left;
    display: inline-block;
    width: 30%;
    /* margin-left: 20px;
    margin-right: 20px; */
    text-align: center;
}

.container .row .My-blogs .blogs_block {
    width: calc(100% - 40px);
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    display: block;
}

.hero .welcome .welcome-txt h1 {
    font-size: 40px;
    font-weight: 200px;
    margin-top: 20px;
}

.hero .welcome .welcome-txt h2 {
    font-size: 30px;
}

.our-work {
    display: block;
    width: 100%;

}

.container .row .our-work .portfolio {
    width: 100%;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    display: block;
}

header .navbar .row {
    display: none;
}



.container .row .right-contact h6 {
    margin-left: 10px;
    margin-right: 10px;
}


.container .row .right-contact p {
    margin-left: 10px;
    margin-right: 10px;
}



.container .row .testimonials-block img {
    width: 200px;
    margin-left: 30px;
    margin-right: 30px;

}



.header-fixed .navbar .row {
    display: inline-block;
    font-size: 20px;
    margin-left: 20px;
}

.header-fixed .navbar .row .nav-right {
    display: none;

}



.dropdown {
    display: inline-block;
    float: right;
    margin-right: 20px;
    margin-top: -48px;
    margin-bottom: -6px;
    color: #fff;
    background-color: #f34236;
    width: 40px;
    height: 40px;
    position: relative;
}

.dropdown-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-right: 10px;
    margin-left: -50px;
    margin-top: 10px;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
     color: #f34236
    }
      
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    box-shadow: 0px 2px 4px #0009;

  }

.dropdown i {
    margin-left: 7px;
    margin-right: 5px;
    margin-top: 5px;
    font-size: 30px;
}

.sticky .dropdown {
    color: #fff;
}

.welcome-txt {
    margin-top: 220px;
}

}