.main-color {
    background-color: var(--main-color);
}
.light-main-color {
    background-color: var(--light-main-color);
}

.section-title {
    display: inline-block;
    width: 100%;
    font-size: 35px;
    /* line-height: 45px; */
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
    .section-title span {
        color: #f34236
    }

/* START: header */
.header-fixed {
    display: inline-block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
}
.navbar {
    display: inline-block;
    width: 100%;
    min-height: 50px;

}
    .navbar > .row {
        display: inline-block;
        width: 1200px;
        margin: 0 calc( 50% - 600px );
    }
        .logo-text {
            display: inline-block;
            float: left;
            width: 30%;
        }
        .nav-right {
            display: inline-block;
            float: right;
            /* width: 47%;  */
        }   
        .headers_links {
            display: inline-block;
            font-size: 20px;
            text-decoration: none;
            margin-left: 15px;              
            font-weight: bold;
            margin-top: 10px;
            padding: 10px 0;
            color: #fff;
            position: relative;
        }
        .nav-right .headers_links:after {
            content: "";
            display: block;
            width: 100%;
            height: 3px;
            background-color: #fff;
            position: absolute;
            top: 100%;
            left: 0;
            opacity: 0;
            transition: opacity 0.2s;
            animation-name: width;
            animation-iteration-count: infinite;
            animation-duration: 2s;
            animation-fill-mode: backwards;
        }
            @keyframes width {
                0% {
                    width: 0;
                }
                100% {
                    width: 100%;
                }
            }
            .nav-right .headers_links:hover:after{
                opacity: 1;
            }
/* END: header */

/* Header animation - test START */
.sticky {
    position: fixed;
    width: 100%;
    background-color: #fff;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .sticky .first_logo {
    color: #f34236;
   }

   .sticky .nav-right .headers_links {
       color: #000;
   }

   .sticky .nav-right .headers_links:after{
       background-color: #f34236;
   }
/* Header animation - test END */

.hero {
display: inline-block;
background-image: url(../img/Heroes\ photo.jpg);
width: 100%;
min-height: 100vh;
background-size: cover;
background-position: top center;
background-attachment: fixed;
text-align: center;
}
    .welcome {
        display: inline-block;
        height: 100vh;
        width: 100%;
        background-color:  rgba(0,0,0,0.5);
    }
        .welcome-txt {
            display: inline-block;
            width: 100%;
            justify-content: center;
            color: #fff;
        }    

            .welcome-txt h2 {
                display: inline-block;
                width: 100%;
                font-size: 55px;
                font-weight: 300;
                margin-top: 10%;
                margin-bottom: -30px;
            }

            .welcome-txt h1 {
                display: inline-block;
                width: 100%;
                font-size: 90px;
                font-weight: 600px;
                letter-spacing: 2px;
                padding-top: -20px;
            }
            .welcome-txt p {
                display: inline-block;
                width: 100%;
                font-size: 15px;
                font-weight: 300;
                margin: 10px 0 20px;
            }

    .welcome > .btn {
        margin-top: 40px;
        cursor: pointer;
    }

    h3 {
        text-align: center;
    }

    h3::after {
        width: 60px;
        height: 3px;
        background: #000;
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 15px;
    }
/* END: hero */

/* START: about-me */
.martin_photo {
    display: inline-block;
    background-color: white;
    float: left;
    width: 39%;
    margin-right: 60px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    background-size: cover;
    padding: 5px;
    }

.about_right {
    display: inline-block;
    width: 55%;
    float: left;
}

.about_right h3::after {
    margin-left: -3px;
}

    .about_right .section-title {
        text-align: left;
    }
    .about_right h4 {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 15px;
        line-height: 1.2;
    }
    .about_right p {
        font-size: 15px;
        color: #828282;
        font-weight: 400;
        line-height: 1.6;
        margin-bottom: 15px;
    }
    .about_right .fa {
        text-align: center; 
        display: inline-block;
        width: 40px;
        background-color: #111;
        color: #fff;
        font-size: 15px;
        padding: 12px;
        margin: 2px;
        text-decoration: none;
        border-radius: 5px;
        border: solid #111 1px; 
        transition: color, background-color 0.5s;
    }
        .about_right .fa:hover{
            background-color: #fff;
            color: #111;
            border: solid #111 1px;
        }
    .Two_buttons {
        margin-top: 20px;
    }


/* END: about-me */



/* START: services */
section .services {
    display: inline-block;
    width: 100%;
}

 .services i.fa {
    display: inline-block;
    /* width: 40px; */
    color: #f34236;
    font-size: 54px;
    line-height: 80px;
    /* padding: 30px; */
    height: 80px;
    width: 80px;
    margin: 10px;
    margin-right: 128px;
    margin-left: 95px;
    text-decoration: none;
    border-radius: 80px;
    text-align: center;
    position: static;
    
}



.services h4 {
    text-align: center;
    font-size: 22px;
}

.services p {
    text-align: center;
}

     .block {

    display: inline-block;
    /* width: calc( (100% - 90px) / 3 ); */
    width: 30%;
    padding: 60px 40px 20px;
    /* margin-right: 30px; */
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
    text-align: center;
    box-shadow: 0 4px 12px #0005;
    border-radius: 4px;
    transition: transform 1s;
    border: 2px solid #fff;
    background-color: white;
    }

    .block:nth-child(6n) {
        margin-right: 0;
    }

    .services .block:hover {
        transform: translateY(-20px);
        border: 2px solid #f34236;
    }
/* END: services */



/* START: resume */
.column {
    display: inline-block;
    width: 45%;
    margin-right: 20px;
    margin-left: 20px;
    padding: 40px 60px 40px 20px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
    .resume .work {
        color: #f34236;
        font-size: 22px;
        font-weight: 600;
        padding-bottom: 20px;
        text-transform: uppercase;
    }
    .resume h6 {
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
    }
    .resume p {
        font-size: 15px;
        padding-bottom: 20px;
        }
    .resume p span {
        width: 100%;
        font-style: italic;
        text-transform: uppercase;
    }
/* END: resume */

/* START avilable */
.available {
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.available .btn {
    margin-bottom: 5px;
}
/* END avilable */

.available h3::after {
    display:none;
}

/* START: Testimonials */

.testimonials {
    display: inline-block;
    width: 100%;
    text-align: center;
}  
      .testimonials  .list {
        display: inline-block;
        width: 50%;

      }
        .testimonials  .list .item {
            display: none;
            padding: 50px 20px 30px;
            border: 1px solid #ddd;
            text-align: center;
            background: #ffffff;
            border-radius: 5px;
            box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .testimonials  .list .item.active {
            display: inline-block;
        }

        .testimonials  .list .item + {
            display: none;
            width: 100%;
        }

            .testimonials  .list .image {
                background-size: cover;
                width: 100px;
                border-radius: 50%;
                margin-bottom: 20px;

            }
            .testimonials  .list .text {
                font-size: 20px;
                line-height: 20px;
                margin-bottom: 20px;
                color: gray;

            }
            .testimonials  .list .author {
                font-weight: bold;

            }
            .testimonials  .list .title {
                color: lightgray;

            }

      .testimonials  .controls {
        display: inline-block;
        width: 100%;
        margin-top: 20px;
        }

        .testimonials  .controls .circle {
            display: inline-block;
            margin-left: 5px;
            margin-right: 5px;
            border-radius: 50%;
            vertical-align: top;
            width: 15px;
            height: 15px;
            line-height: 15px;
            background: #f34236;
            /* border: 1px solid #f34236; */
            cursor: pointer;

        }

        .testimonials .controls .circle .color-circle {
            display: inline-block;
            background-color: #f34236;
            width: inherit;
            height: inherit;
        }


/* END: Testimonials */

/* START: blog */
.My-blogs {
    display: inline-block;
    width: 100%;
    }

    .blogs_block {
    display: inline-block;
    width: 29%;
    float: left;
    margin: 0 20px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .blogs-images {
        display: inline-block;
        width: 100%;
        overflow: hidden;
        /* float: left; */
    }
        .blogs_block {
            display: inline-block;
            float: left;
        }
        .blogs-images > img {
            display: inline-block;
            width: 100%;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            transition: transform 1s ease;
        }
        .blogs-images > img:hover {
            transform: scale(1.3);
        }
    .My-blogs h6 {
        display: inline-block;
        margin: 20px 0px 20px 20px;
        font-size: 12px;
        color: #828282;
        line-height: 15px;
        font-weight: 200;
    }
        .blogs-images + h6 {
            border-right: #828282 solid 1px;
            padding-right: 15px;
        }
    .My-blogs .Blogs-headline {
        display: inline-block;
        margin: 0 20px;
        color: #111;
        font-size: 22px;
        text-decoration: none;
        font-weight: 600;
        line-height: 25px;
        transition: color 0.5s;

    }
        .Blogs-headline:hover {
            color: #f34236;
        }
    .My-blogs p {
        display: inline-block;
        margin: 20px;
        color: #828282;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.6;
    }
    .My-blogs .Read {
        display: inline-block;
        color: #f34236;
        margin: 0 20px 30px;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;
        position: relative;
        transition: color 0.5s;
    }
    .Read:hover {
        color: #111;
    }
        .Read:after {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background-color: #f34236;
            position: absolute;
            top: 100%;
            left: 0;
            transition: background-color 0.5s;
        }
        .Read:hover:after {
            background-color: #111;
        }

/* END: blog */



/* START: contact */
#contact {
    display: inline-block;
}
    .left-contact {
        display: inline-block;
        width: 60%;
        float: left;
        margin-right: 45px; 
        margin-left: 35px;
        box-sizing: border-box;
        background-color: #fff;
        position: relative;
        box-shadow: 0 4px 12px #0005;
    }
        h5 {
            display: inline-block;
            font-size: 28px;
            font-weight: 600;
            margin: 30px 0px 10px 30px;
        }
        .left-contact-p {
            margin-left: 30px;
            margin-right: 30px;
            color: rgb(130, 130, 130);
        }
        .fa-paper-plane {
            font-size: 60px;
            position: absolute;
            top: 45px;
            right: 30px;
            opacity: 0.1;
        }
        form {
            display: inline-block;
            width: calc(60%-60px);
            margin: 30px;
        }
        form input {
            display: inline-block;
            width: calc(50% - 15px);
            float: left;
            font-size: 15px;
            line-height: 45px;
            margin-bottom: 20px;
        }    
            input::placeholder {
                font-size: 15px;
                padding: 10px 0px 0px 10px;
            }
            form input:nth-child(2) {
                margin-left: 30px;
            }
        form textarea {
            padding: 10px 0px 0px 10px;
            display: inline-block;
            width: 100%;
            font-size: 15px;
            line-height: 25px;
            margin-bottom: 20px;
            min-height: 150px;
            max-height: 300px;
            resize: vertical;
        }

    .right-contact {
        display: inline-block;
        width: 30%;
        float: left;
        box-sizing: border-box;
        background-color: #fff;
        box-shadow: 0 4px 12px #0005;
        padding-bottom: 96px;
    }

        .right-contact-infoblock {
            display: inline-block;
            width: 100%;
           padding: 15px 30px 15px 30px;
        }
            .contact-address-box {
                display: inline-block;
                width: 100%;
                /*margin-left: 20px;*/
                padding: 15px 0px 15px 0px;
            }

            .contact-address-box-icon > .fa {
                display: inline-block;
                width: 10%;
                float: left;
                box-sizing: border-box;
                width: 50px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                border-radius: 50%;
                color: #fff; 
                background-color: black;
                /*margin-top: 20px;*/
                text-align: center;
            }
            .contact-address-box-text {
                display: inline-block;
                width: 80%;
                float: right;
                /*padding-left: 10px;*/
            }
            .contact-address-box-text > h6 {
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 10px;
                padding: 0px 20px 0px 10px;
            }
            .right-contact-p {
                font-size: 15px;
                font-weight: 400;
                line-height: 1.6;
                padding-left: 10px;
            }
/* END: contact */



/* START: Footer */
.footer {
    display: inline-block;
    width: 100%;
    background-color:rgb(33, 33, 33);
    color: #fff;
    text-align: center;
}
    .footer .fa {
        display: inline-block;
        width: 45px;
        height: 45px;
        background-color: #111;
        color: rgb(33, 33, 33);
        font-size: 20px;
        line-height: 25px;
        padding: 10px;
        margin: 3px;
        text-decoration: none;
        border-radius: 50%;
        margin-bottom: 40px;
        border: solid #111 1px;
        transition: color, background-color 0.5s;
    }
        .footer .fa:hover{
            background-color: rgb(33, 33, 33);
            color: white;
            border: solid #111 1px;
        }

    .social-links {
        border-bottom: 1px solid rgb(255, 255, 255, 0.07);
    }
            .footer-logo {
                /*padding: 0 0 20px;
                margin: 0;
                font-size: 22px;
                letter-spacing: 2px;
                font-weight: 300;*/
                font-size: 43px;
                font-weight: bolder;
                line-height: 43px;
                margin-bottom: 20px;
                margin-top: 60px;
            }
               .footer-text {
                    color: #999;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
/* END: Footer */
 



