.main-color {
    background-color: var(--main-color);
}
.light-main-color {
    background-color: var(--light-main-color);
}

.section-title {
    display: inline-block;
    width: 100%;
    font-size: 35px;
    /* line-height: 45px; */
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
    .section-title span {
        color: #f34236
    }

/* START: header */
    header {

    }
/* END: header */

.hero {
display: inline-block;
background-image: url(../img/Heroes\ photo.jpg);
width: 100%;
min-height: 100vh;
background-size: cover;
background-position: top center;
background-attachment: fixed;
text-align: center;
}
    .welcome {
        display: inline-block;
        height: 100vh;
        width: 100%;
        background-color:  rgba(0,0,0,0.5);
    }
        .welcome-txt {
            display: inline-block;
            width: 100%;
            justify-content: center;
            color: #fff;
        }    

            .welcome-txt h2 {
                display: inline-block;
                width: 100%;
                font-size: 55px;
                font-weight: 300;
                margin-top: 10%;
                margin-bottom: -30px;
            }

            .welcome-txt h1 {
                display: inline-block;
                width: 100%;
                font-size: 90px;
                font-weight: 600px;
                letter-spacing: 2px;
                padding-top: -20px;
            }
            .welcome-txt p {
                display: inline-block;
                width: 100%;
                font-size: 15px;
                font-weight: 300;
                margin: 10px 0 20px;
            }

    .welcome > .btn {
        margin-top: 40px;
        cursor: pointer;
    }

    h3 {
        text-align: center;
    }
/* END: hero */

/* START: about-me */
.martin_photo {
    display: inline-block;
    background-color: white;
    float: left;
    width: 40%;
    margin-right: 60px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    background-size: cover;
    padding: 5px;
    }

.about_right {
    display: inline-block;
    width: 55%;
    float: left;
}
    .about_right .section-title {
        text-align: left;
    }
    .about_right h4 {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 15px;
        line-height: 1.2;
    }
    .about_right p {
        font-size: 15px;
        color: #828282;
        font-weight: 400;
        line-height: 1.6;
        margin-bottom: 15px;
    }
    .about_right .fa {
        text-align: center; 
        display: inline-block;
        width: 40px;
        background-color: #111;
        color: #fff;
        font-size: 15px;
        padding: 12px;
        margin: 2px;
        text-decoration: none;
        border-radius: 5px;
        border: solid #111 1px; 
        transition: color, background-color 0.5s;
    }
        .about_right .fa:hover{
            background-color: #fff;
            color: #111;
            border: solid #111 1px;
        }
    .Two_buttons {
        margin-top: 20px;
    }


/* END: about-me */



/* START: services */
section .services {
    display: inline-block;
    width: 100%;
}

 .services i.fa {
    display: inline-block;
    /* width: 40px; */
    background-color: var(--main-color);
    color: #fff;
    font-size: 40px;
    line-height: 80px;
    /* padding: 30px; */
    height: 80px;
    width: 80px;
    margin: 10px;
    margin-right: 128px;
    margin-left: 75px;
    text-decoration: none;
    border-radius: 80px;
    text-align: center;
    position: static;
    
}



.services h4 {
    text-align: center;
    font-size: 22px;
}

.services p {
    text-align: center;
}

.services .block1 {
    display: inline-block;
    /* float: left; */
    background-color: white;
    /* width: 30%; */
    width: 350px;
    padding: 40px 20px;
    padding: 60px;
    margin: 20px;
    margin-right: 35px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}


.services .block2 {
    display: inline-block;
    /* float: left; */
    background-color: white;
    /* width: 30%; */
    width: 350px;
    padding: 40px 20px;
    padding: 60px;
    margin: 20px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}


.services .block3 {
    display: inline-block;
    /* float: right; */
    background-color: white;
    /* width: 30%; */
    width: 350px;
    padding: 40px 20px;
    padding: 60px;
    margin: 20px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    
}
/* END: services */



/* START: resume */
.column-left {
    display: inline-block;
    width: 47%;
    height: 450px;
    margin-right: 2%;
    padding: 40px 60px 0px 20px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;

}
.column-right {
    display: inline-block;
    width: 47%;
    height: 450PX;
    margin-left: 2%;
    padding: 40px 60px 0px 20px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.resume h5 {
    color: #f34236;
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.resume h6 {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.resume p {
    font-size: 15px;
    padding-bottom: 20px;
    }

.resume p span {
    width: 100%;
    font-style: italic;
    text-transform: uppercase;
}
/* END: resume */

/* START aviable */
.available {
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.available .btn {
    margin-bottom: 5px;
}
/* END aviable */



/* START: our-work */

.our-work .image1 {
    display: inline-block;
    /* float: left; */
    background-color: white;
    /* width: 30%; */
    width: 350px;
    padding: 40px 20px;
    padding: 60px;
    margin: 20px;
    margin-right: 35px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    display: inline-block;
    width: 350px;
    background-size: cover;
    padding: 5px;
}

.our-work .image2 {
    display: inline-block;
    /* float: left; */
    background-color: white;
    /* width: 30%; */
    width: 350px;
    padding: 40px 20px;
    padding: 60px;
    margin: 20px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    display: inline-block;
    width: 350px;
    background-size: cover;
    padding: 5px;
}


.our-work .image3 {
    display: inline-block;
    /* float: right; */
    background-color: white;
    /* width: 30%; */
    width: 350px;
    padding: 40px 20px;
    padding: 60px;
    margin: 20px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    display: inline-block;
    width: 350px;
    background-size: cover;
    padding: 5px;
    
}


.our-work .image4 {
    display: inline-block;
    /* float: left; */
    background-color: white;
    /* width: 30%; */
    width: 350px;
    padding: 40px 20px;
    padding: 60px;
    margin: 20px;
    margin-right: 35px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    display: inline-block;
    width: 350px;
    background-size: cover;
    padding: 5px;
}


.our-work .image5 {
    display: inline-block;
    /* float: left; */
    background-color: white;
    /* width: 30%; */
    width: 350px;
    padding: 40px 20px;
    padding: 60px;
    margin: 20px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    display: inline-block;
    width: 350px;
    background-size: cover;
    padding: 5px;
}


.our-work .image6 {
    display: inline-block;
    /* float: right; */
    background-color: white;
    /* width: 30%; */
    width: 350px;
    padding: 40px 20px;
    padding: 60px;
    margin: 20px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    display: inline-block;
    width: 350px;
    background-size: cover;
    padding: 5px;
    
}

/* END: our-work */

.testimonials {
    display: inline-block;
    width: 100%;
}

/* START: blog */
.blog {

}
/* END: blog */



/* START: contact */
.contact {

}
/* END: contact */



/* START: Footer */
footer {

}
/* END: Footer */