.section-title {
    display: inline-block;
    width: 100%;
    font-size: 35px;
    line-height: 45px;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 40px;
    text-transform: uppercase;
}
    .section-title span {
        color: #f34236
    }

/* START: header */
.header-fixed {
    display: inline-block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
}
.navbar {
    display: inline-block;
    width: 100%;
    min-height: 50px;

}
    .navbar > .row {
        display: inline-block;
        width: 1100px;
        margin: 0 calc( 50% - 550px );
    }
        .logo-text {
            display: inline-block;
            float: left;
            width: 30%;
        }
        .nav-right {
            display: inline-block;
            float: right;
            width: 45%;       
        }
            a {
                display: inline-block;
                font-size: 20px;
                text-decoration: none;
                margin-left: 15px;              
                font-weight: bold;
                margin-top: 10px;
                padding: 10px 0;
                color: black;
            }
/* END: header */



/* START: hero */
.hero {
display: inline-block;
background-image: url(../img/Heroes\ photo.jpg);
width: 100%;
min-height: 100vh;
background-size: cover;
background-position: center;
background-attachment: fixed;
text-align: center;
}
    .welcome {
        display: inline-block;
        height: 100vh;
        width: 100%;
        background-color:  rgba(0,0,0,0.5);
    }
        .welcome-txt {
            display: inline-block;
            justify-content: center;
            color: #fff;
        }    

            h2 {
            font-size: 55px;
            font-weight: 300;
            margin-top: 30%;
            }

            h1 {
                font-size: 90px;
                font-weight: 600px;
                letter-spacing: 2px;
                padding: 20px 0 35 px;
            }


/* END: hero */



/* START: about-me */
.about-me {

}
/* END: about-me */



/* START: services */
.services {

}
/* END: services */



/* START: resume */
.resume {

}
/* END: resume */



/* START: our-work */
.our-work {

}
/* END: our-work */



/* START: blog */
.blog {

}
/* END: blog */



/* START: contact */
.contact {

}
/* END: contact */



/* START: Footer */
footer {

}
/* END: Footer */